@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: "Roboto";
  overflow-x: hidden;
}

#menu a {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

.carousel-inner {
  max-height: 39rem;
}

#contactanos-pagina-servicios {
  width: 5px !important;
  height: 5px !important;
}

.carousel-inner {
  max-height: 39rem;
}

.servicio-fila {
  width: 100% !important;
  text-align: center;
}

.mapa {
  background: url(../assets/imgs/mapa_location.webp);
  width: 100%;
  height: 500px;
}

#local {
  background: #f3f3f3;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}

#numeros div {
  padding: 0 20px 0 0;
  height: 48px;
}

#numeros div:not(:last-child) {
  border-right: 2px solid #3f3f3f;
}

#numeros div:not(:first-child) {
  padding-left: 20px;
}

#numeros p {
  margin: 0;
}

@media (max-width: 768px) {
  #sobre-nosotros {
    width: 90%;
  }

  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .icono-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media (max-width: 1200px) {
  #local {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
  }

  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}